<html>

<head>
  <title>Store Admin</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div id="voting" style="margin-left: 5em;">
    <h1> Store Management Interface </h1>
    <form v-on:submit="addProduct">
      Product Name <input type="text" v-model="product"><br><br>
      Price <input type="text"  v-model="price"><br><br>
      Picture URL <input type="text"  v-model="url">
      <button type="submit">Add Product</button><br><br>
    </form>

    <h1>Current Products</h1>
    <div v-for="product in products">
      <span class="glyphicon glyphicon-remove" 
        v-on:click="deleteproduct(product)"></span> 
        {{product.Name}} - price {{product.price}} - ordered {{product.votes}}<img :src="product.url" />
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="javascripts/app.js"></script>
</body>

</html>
